<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.zjwu.mis.business.dao.LeaveMessageMapper" >
  <resultMap id="BaseResultMap" type="net.zjwu.mis.business.model.LeaveMessage" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="Creat_time" property="creatTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="net.zjwu.mis.business.model.LeaveMessage" extends="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, uid, Creat_time
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    content
  </sql>
  
  <insert id="addMessage">
   insert into t_t_leave_message(uid,content) values(#{uid},#{content})
  </insert>
</mapper>